@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: visible;
  position: relative;
  max-width: 100%;
  scroll-behavior: smooth;
}

.buttonStyle {
  border-radius: 4px;
  border: 1px solid var(--Primary-Focus, #ccc3fd);
  background: var(--Primary-secondary, #f6f4fe);
}
.buttonStyle2 {
  border-radius: 4px;
  border: 3px solid var(--Primary-Focus, #ccc3fd);
  background: var(--Primary-Main, #5a3fe0);
}
